name: Build packages

permissions:
  contents: read

on:
  release:
    types:
      - published
  push:
    branches:
      - main

jobs:
  build-api-client:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'

      - name: Build package
        working-directory: packages/api-client
        run: |
          yarn install --frozen-lockfile
          npm run build

      - name: Publish API Client to NPM
        if: github.event_name == 'release'
        working-directory: packages/api-client
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  build-sdk:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'
      - name: Build SDK
        working-directory: packages/sdk
        run: |
          yarn install --frozen-lockfile
          npm run build

      - name: Publish SDK to NPM
        if: github.event_name == 'release'
        working-directory: packages/sdk
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
